<h1>Search</h1>

<%= form_tag search_path, :method => 'get', :class => "navbar-form" do %>
	<%= text_field_tag(:word) %>
	<%= submit_tag("Search", :class => ['btn', 'btn-default']) %>
<% end %> 

<% if !@words.blank? %>
<ul>
  <% for word in @words %>
  	<li>
  		<h4>
  			<%= word.term %>
  		</h4>
  	</li>
  <% end %>
</ul>
<% end %>